<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Override title -->
    <title>OpenM Project</title>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/colors-auto.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        <h3>
            <img class="emoji" title=":ringed_planet:" alt=":ringed_planet:"
            src="https://github.githubassets.com/images/icons/emoji/unicode/1fa90.png" height="20" width="20"> The heart of open-source documents, projects & utilities for Minecraft.
</h3>
        <ul class="downloads">
          <li><a href="https://dsc.gg/openmproject">Join Our <strong>Discord</strong></a></li>
          <li><a href="https://github.com/OpenM-Project">View Our <strong>GitHub</strong></a></li>
          <li><a href="https://github.com/OpenM-Project/OpenM-Project.github.io">View <strong>Page Source</strong></a></li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
